@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");
// @import '../assets/fonts/custom-font.woff2';

@tailwind base;
@tailwind components;
@tailwind utilities;

// @font-face {
//     font-family: "Custom-font";
//     src: local("Custom-font"),
//         url("../assets/fonts/custom-font.woff2") format("truetype");
//     font-weight: bold;
// }

* {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-weight: 400;
}
body {
}

.h2 {
  font-size: 30px;
  color: "#11181c";
}
.h3 {
  font-size: 24px;
}

.h6 {
  color: #11181c;
  margin: 0px 0px 16px;
  line-height: 24px;
  font-weight: 500;
}
.p {
  font-size: 14px;
  line-height: 20px;
  color: #687076;
  margin: 0px 0px 16px;
  @media screen and (max-width: 1280px) {
    font-size: 16px !important;
  }
}

.span {
  font-size: 14px;
}

.pricing_page {
  .h2,
  .p {
    margin-top: 8px;
    margin-bottom: 16px;
  }
  .p {
    font-size: 18px;
  }
}
.database_page {
  .swiper-slide {
    // width: unset  !important;
  }
}
//===========margin================
.mt-0 {
  margin-top: 0px !important;
}
.mt-16 {
  margin-top: 16px !important;
}
.mb-16 {
  margin-bottom: 16px !important;
}
.mb-64 {
  margin-bottom: 64px !important;
}

// ==================font-size==================
.fs-16 {
  font-size: 16px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-20 {
  font-size: 20px !important;
}

.fs-24 {
  font-size: 24px !important;
}
